<button class="btn btn-primary"
        ngsTooltip="Info about the action"
        [ngsTooltipPosition]="'top'"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Tooltip - Top
</button>
<br><br>
<button class="btn btn-primary"
        ngsTooltip="Info about the action"
        [ngsTooltipPosition]="'left'"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Tooltip - Left
</button>
<br><br>
<button class="btn btn-primary"
        ngsTooltip="Info about the action"
        [ngsTooltipPosition]="'bottom'"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Tooltip - Bottom
</button>
<br><br>
<button class="btn btn-primary"
        ngsTooltip="Info about the action"
        [ngsTooltipPosition]="'right'"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Tooltip - Right
</button>
<br><br>
<button class="btn btn-primary"
        ngsTooltip="Info about the action"
        ngsTooltipShowDelay=4000
        aria-label="Button that displays a tooltip when focused or hovered over">
  Tooltip - Show Delay
</button>
<br><br>
<button class="btn btn-primary"
        ngsTooltip="Info about the action"
        ngsTooltipHideDelay=4000
        aria-label="Button that displays a tooltip when focused or hovered over">
  Tooltip - Hide Delay
</button>
<br><br>
