<div class="container">
  <div class="columns">
    <div class="column col-6">
      <div class="columns">
        <div class="column col-12">
          <ngs-empty-state>
            <div ngs-empty-state-icon>
              <ngs-icon name="mail" size="3"></ngs-icon>
            </div>
            <div ngs-empty-state-title>
              You have no new messages
            </div>
            <div ngs-empty-state-subtitle>
              Click the button to start a conversation
            </div>
            <div ngs-empty-state-action>
              <button ngsButton color="primary" size="sm">Send a message</button>
            </div>

          </ngs-empty-state>
        </div>
      </div>
    </div>
  </div>
</div>
