<div class="container">
    <div class="columns">
        <div class="column col-6">

            <div class="columns">
                <div class="column col-2">
                    <button ngsButton color="primary">
                        <ngs-icon name="arrow-up"></ngs-icon>
                    </button><br><br>
                </div>
                <div class="column col-2">
                    <button ngsButton color="primary">
                        <ngs-icon name="arrow-right"></ngs-icon>
                    </button><br><br>
                </div>
                <div class="column col-2">
                    <button ngsButton color="primary">
                        <ngs-icon name="arrow-down"></ngs-icon>
                    </button><br><br>
                </div>
                <div class="column col-2">
                    <button ngsButton color="primary">
                        <ngs-icon name="arrow-left"></ngs-icon>
                    </button><br><br>
                </div>
            </div>

            <div class="columns">
                <div class="column col-2">
                    <button ngsButton color="primary">
                        <ngs-icon name="upward"></ngs-icon>
                    </button><br><br>
                </div>
                <div class="column col-2">
                    <button ngsButton color="primary">
                        <ngs-icon name="forward"></ngs-icon>
                    </button><br><br>
                </div>
                <div class="column col-2">
                    <button ngsButton color="primary">
                        <ngs-icon name="downward"></ngs-icon>
                    </button><br><br>
                </div>
                <div class="column col-2">
                    <button ngsButton color="primary">
                        <ngs-icon name="back"></ngs-icon>
                    </button><br><br>
                </div>
            </div>

            <div class="columns">
                <div class="column col-2">
                    <button ngsButton color="primary">
                        <ngs-icon name="caret"></ngs-icon>
                    </button><br><br>
                </div>
                <div class="column col-2">
                    <button ngsButton color="primary">
                        <ngs-icon name="menu"></ngs-icon>
                    </button><br><br>
                </div>
                <div class="column col-2">
                    <button ngsButton color="primary">
                        <ngs-icon name="apps"></ngs-icon>
                    </button><br><br>
                </div>
                <div class="column col-2">
                    <button ngsButton color="primary">
                        <ngs-icon name="more-horiz"></ngs-icon>
                    </button><br><br>
                </div>
            </div>

            <div class="columns">
                <div class="column col-2">
                    <button ngsButton color="primary">
                        <ngs-icon name="more-vert"></ngs-icon>
                    </button><br><br>
                </div>
            </div>

            <br><br>

            <div class="columns">
                <div class="column col-2">
                    <ngs-icon name="search" size="1"></ngs-icon>
                </div>
                <div class="column col-2">
                    <ngs-icon name="cross" size="2"></ngs-icon>
                </div>
                <div class="column col-2">
                    <ngs-icon name="flag" size="3"></ngs-icon>
                </div>
                <div class="column col-2">
                    <ngs-icon name="refresh" size="4"></ngs-icon>
                </div>
            </div>

        </div>
    </div>
</div>