<div class="container">
  <div class="columns">
    <div class="column col-6">

      <div class="columns">

        <div class="column col-6">
          <ngs-card>
            <div ngs-card-img>
              <img src="https://www.w3schools.com/w3images/fjords.jpg" class="img-responsive">
            </div>
            <div ngs-card-header>
              <div ngsCardTitle>Title - 1</div>
              <div ngsCardSubtitle>Subtitle - 2</div>
            </div>
            <div ngs-card-body>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut et aliqua.
            </div>
            <div ngs-card-footer>
                <button ngsButton color="primary" size="sm">Explore More</button>
            </div>
          </ngs-card>
        </div>

        <div class="column col-6">
          <ngs-card>
            <div ngs-card-header>
              <div ngsCardTitle>Title - 2</div>
              <div ngsCardSubtitle>Subtitle - 2</div>
            </div>
            <div ngs-card-img>
              <img src="https://www.w3schools.com/w3images/fjords.jpg" class="img-responsive">
            </div>
            <div ngs-card-body>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </ngs-card>
        </div>

      </div>

      </div>
    </div>
  </div>