<div class="columns">
  <div class="column">
    <button ngsButton color="primary" (click)="menu12.openMenu({overlapTrigger: true}, target)" #target>Show Dialog</button>
    <ngs-menu #menu12="ngsMenu">
      <div ngsMenuItem>
        Slack
      </div>
      <div ngs-menu-item>
        <a class="active">Twitter </a>

        <div class="menu-badge">
          <label class="label label-primary">2</label>
        </div>
      </div>
      <div ngs-menu-item>Facebook
      </div>
      <div ngsMenuItem>
        <a>
          <i class="icon icon-link"></i> Slack
        </a>
      </div>
    </ngs-menu>
  </div>
</div>
<br />
<div class="columns">
  <div class="column">
    <button ngsButton color="primary" [ngsToggleAction]="menu1" [overlaySettings]="{overlapTrigger: true}">Show Dialog</button>
    <ngs-menu #menu1="ngsMenu">
      <div ngsMenuItem>
        Slack
      </div>
      <div ngs-menu-item>
        <a class="active">Twitter </a>

        <div class="menu-badge">
          <label class="label label-primary">2</label>
        </div>
      </div>
      <div ngs-menu-item>Facebook
      </div>
      <div ngsMenuItem>
        <a>
          <i class="icon icon-link"></i> Slack
        </a>
      </div>
    </ngs-menu>
  </div>
</div>
<br />

<div class="columns">
  <div class="column">
    <button ngsButton color="primary" [ngsToggleAction]="menu2" [overlaySettings]="{overlapTrigger: false, xPosition: 'before',yPosition:'below'}">Show
      Dialog</button>
    <!-- menu header text -->
    <ngs-menu #menu2="ngsMenu">
      <div ngsMenuDivider title="LINKS">
      </div>
      <!-- menu item standard -->
      <div ngsMenuItem>
        Slack
      </div>
      <div ngsMenuItem>Twitter
      </div>
      <div ngsMenuItem>Facebook
      </div>
      <div ngsMenuItem>
        <a>
          <i class="icon icon-link"></i> Slack
        </a>
      </div>
      <!-- menu item with form control -->
      <div ngsMenuItem>
        <label class="form-checkbox">
          <input type="checkbox">
          <i class="form-icon"></i> form-checkbox
        </label>
      </div>
      <!-- menu divider -->
      <div ngsMenuDivider></div>
      <!-- menu item with badge -->
      <div ngsMenuItem>
        <div class="menu-badge">
          <label class="label label-primary">2</label>
        </div>
        <a>
          <i class="icon icon-link"></i> Settings
        </a>
      </div>
    </ngs-menu>
  </div>
</div>

<br />

<div class="columns">
  <div class="column">
    <button ngsButton color="primary" [ngsToggleAction]="menu3" [overlaySettings]="{xPosition: 'after',yPosition:'above'}">Show
      Dialog</button>
    <ngs-menu #menu3="ngsMenu">
      <!-- menu header text -->
      <li class="divider" data-content="LINKS">
      </li>
      <!-- menu item standard -->
      <li class="menu-item">
        <a>
          <i class="icon icon-link"></i> Slack
        </a>
      </li>
      <!-- menu item with form control -->
      <li class="menu-item">
        <label class="form-checkbox">
          <input type="checkbox">
          <i class="form-icon"></i> form-checkbox
        </label>
      </li>
      <!-- menu divider -->
      <li class="divider"></li>
      <!-- menu item with badge -->
      <li class="menu-item">
        <div class="menu-badge">
          <label class="label label-primary">2</label>
        </div>
        <a>
          <i class="icon icon-link"></i> Settings
        </a>
      </li>
    </ngs-menu>
  </div>
</div>

<br />

<div class="columns">
  <div class="column">
    <button ngsButton color="primary" [ngsToggleAction]="menu4" [overlaySettings]="{overlapTrigger: true, xPosition: 'before',yPosition:'above'}">Show
      Dialog</button>
    <ngs-menu #menu4="ngsMenu">
      <!-- menu header text -->
      <div ngsMenuDivider title="LINKS">
      </div>
      <!-- menu item standard -->
      <div ngsMenuItem>
        Slack
      </div>
      <div ngsMenuItem>Twitter
      </div>
      <div ngsMenuItem>Facebook
      </div>
      <div ngsMenuItem>
        <a>
          <i class="icon icon-link"></i> Slack
        </a>
      </div>
      <!-- menu item with form control -->
      <div ngsMenuItem>
        <label class="form-checkbox">
          <input type="checkbox">
          <i class="form-icon"></i> form-checkbox
        </label>
      </div>
      <!-- menu divider -->
      <div ngsMenuDivider></div>
      <!-- menu item with badge -->
      <div ngsMenuItem>
        <div class="menu-badge">
          <label class="label label-primary">2</label>
        </div>
        <a>
          <i class="icon icon-link"></i> Settings
        </a>
      </div>
    </ngs-menu>
  </div>
</div>
<br />


<div class="columns">
  <div class="column">
    <button ngsButton color="primary" [ngsToggleAction]="menu5" [overlaySettings]="{xPosition: 'after',yPosition:'below'}">Show
      Dialog</button>

    <ngs-menu #menu5="ngsMenu">
      <!-- menu header text -->
      <li class="divider" data-content="LINKS">
      </li>
      <!-- menu item standard -->
      <li class="menu-item">
        <a>
          <i class="icon icon-link"></i> Slack
        </a>
      </li>
      <!-- menu item with form control -->
      <li class="menu-item">
        <label class="form-checkbox">
          <input type="checkbox">
          <i class="form-icon"></i> form-checkbox
        </label>
      </li>
      <!-- menu divider -->
      <li class="divider"></li>
      <!-- menu item with badge -->
      <li class="menu-item">
        <div class="menu-badge">
          <label class="label label-primary">2</label>
        </div>
        <a>
          <i class="icon icon-link"></i> Settings
        </a>
      </li>
      <!-- menu header text -->
      <div ngsMenuDivider title="LINKS">
      </div>
      <!-- menu item standard -->
      <div ngsMenuItem>
        Slack
      </div>
      <div ngsMenuItem>Twitter
      </div>
      <div ngsMenuItem>Facebook
      </div>
      <div ngsMenuItem>
        <a>
          <i class="icon icon-link"></i> Slack
        </a>
      </div>
      <!-- menu item with form control -->
      <div ngsMenuItem>
        <label class="form-checkbox">
          <input type="checkbox">
          <i class="form-icon"></i> form-checkbox
        </label>
      </div>
      <!-- menu divider -->
      <div ngsMenuDivider></div>
      <!-- menu item with badge -->
      <div ngsMenuItem>
        <div class="menu-badge">
          <label class="label label-primary">2</label>
        </div>
        <a>
          <i class="icon icon-link"></i> Settings
        </a>
      </div>
    </ngs-menu>
  </div>
</div>

<br />

<div class="columns">
  <div class="column">
    <button ngsButton color="primary" [ngsToggleAction]="menu6" [overlaySettings]="{xPosition: 'before',yPosition:'below'}">Show
      Dialog</button>
    <ngs-menu #menu6="ngsMenu">
      <!-- menu header text -->
      <li class="divider" data-content="LINKS">
      </li>
      <!-- menu item standard -->
      <li class="menu-item">
        <a>
          <i class="icon icon-link"></i> Slack
        </a>
      </li>
      <!-- menu item with form control -->
      <li class="menu-item">
        <label class="form-checkbox">
          <input type="checkbox">
          <i class="form-icon"></i> form-checkbox
        </label>
      </li>
      <!-- menu divider -->
      <li class="divider"></li>
      <!-- menu item with badge -->
      <li class="menu-item" [ngsToggleAction]="menu7" [overlaySettings]="{xPosition: 'before',yPosition:'below'}">
        <div class="menu-badge">
          <label class="label label-primary">2</label>
        </div>
        <a>
          <i class="icon icon-link"></i> Settings
        </a>
      </li>
    </ngs-menu>
  </div>
</div>

<ngs-menu #menu7="ngsMenu">
  <!-- menu header text -->
  <li class="divider" data-content="LINKS">
  </li>
  <!-- menu item standard -->
  <li class="menu-item">
    <a>
      <i class="icon icon-link"></i> Slack
    </a>
  </li>
  <!-- menu item with form control -->
  <li class="menu-item">
    <label class="form-checkbox">
      <input type="checkbox">
      <i class="form-icon"></i> form-checkbox
    </label>
  </li>
  <!-- menu divider -->
  <li class="divider"></li>
  <!-- menu item with badge -->
  <li class="menu-item">
    <div class="menu-badge">
      <label class="label label-primary">2</label>
    </div>
    <a>
      <i class="icon icon-link"></i> Settings
    </a>
  </li>
</ngs-menu>
<br />
<br />
<div class="dropdown">
  <a ngsButton color="link">
    dropdown menu <i class="icon icon-caret" [ngsToggleAction]="menu8" [overlaySettings]="{xPosition: 'after',yPosition:'above'}"></i>
  </a>
  <!-- menu component -->
  <ngs-menu #menu8="ngsMenu">
    <li class="menu-item"><a>Slack</a></li>
    <li class="menu-item"><a>Hipchat</a></li>
    <li class="menu-item"><a>Skype</a></li>
  </ngs-menu>
</div>
<br />
<br />
<div class="dropdown">
  <a ngsButton color="primary" [ngsToggleAction]="menu9" [overlaySettings]="{xPosition: 'before',yPosition:'below'}">
    dropdown menu <i class="icon icon-caret"></i>
  </a>
  <!-- menu component -->
  <ngs-menu #menu9="ngsMenu">
    <li class="menu-item"><a>Slack</a></li>
    <li class="menu-item"><a>Hipchat</a></li>
    <li class="menu-item"><a>Skype</a></li>
  </ngs-menu>
</div>
