<div class="container">
  <div class="columns">
    <div class="coulumn col-6">
      <h5>Buttons</h5>
      <div class="columns">
        <div class="coulumn col-3">
          <button ngsButton color="primary">Primary</button>
        </div>
        <div class="coulumn col-3">
          <button ngsButton color="defualt">Defualt</button>
        </div>
        <div class="coulumn col-3">
          <button ngsButton color="link">Link</button>
        </div>
      </div>

      <br>
      <br>
      <h5>Button - Colors</h5>
      <div class="columns">
        <div class="coulumn col-3">
          <button ngsButton color="success">Button - Success</button>
        </div>
        <div class="coulumn col-3">
          <button ngsButton color="error">Button - Error</button>
        </div>
      </div>

      <br>
      <br>
      <h5>Button - Sizes</h5>
      <div class="columns">
        <div class="coulumn col-3">
          <button ngsButton color="primary" size="md">Button - Medium</button>
        </div>
        <div class="coulumn col-3">
          <button ngsButton color="primary" size="lg">Button - Large</button>
        </div>
        <div class="coulumn col-3">
          <button ngsButton color="primary" size="sm">Button - Small</button>
        </div>
      </div>

      <br>
      <br>
      <h5>FAB</h5>
      <div class="columns">
        <div class="coulumn col-3">
          <button ngsButton color="primary" fab="true" size="sm"><i class="icon icon-arrow-left"></i></button>
        </div>
        <div class="coulumn col-3">
          <button ngsButton color="primary" fab="true" size="md"><i class="icon icon-menu"></i></button>
        </div>
        <div class="coulumn col-3">
          <button ngsButton color="primary" fab="true" size="lg"><i class="icon icon-menu"></i></button>
        </div>
      </div>

      <br>
      <br>
      <h5>Button - States</h5>
      <div class="columns">
        <div class="coulumn col-3">
          <button ngsButton color="primary" size="sm" disabled="true">Button - Disabled</button>
        </div>
        <div class="coulumn col-3">
          <button ngsButton color="primary" size="sm" active="true">Button - Active</button>
        </div>
      </div>

    </div>
  </div>
</div>
