<div class="container">
  <div class="columns">
    <div class="column col-6">
      <h5>Tabs</h5>
      <ngs-tab>
        <ngs-tab-item title="Music" active="true">
          <ng-template ngsTabContent>
            <h1>Music is an art</h1>
          </ng-template>
        </ngs-tab-item>
        <ngs-tab-item title="Art">
          <ng-template ngsTabContent>
            <h1>Art is an Dance</h1>
          </ng-template>
        </ngs-tab-item>
        <ngs-tab-item title="Dance">
          <ng-template ngsTabContent>
            <h1>Dance with music</h1>
          </ng-template>
        </ngs-tab-item>
      </ngs-tab>
      <br>
      <br>
      <h5>Full width tab</h5>
      <ngs-tab fullWidth="true">
        <ngs-tab-item title="Music" active="true">
          <ng-template ngsTabContent>
            <h1>Music is an art</h1>
          </ng-template>
        </ngs-tab-item>
        <ngs-tab-item title="Art">
          <ng-template ngsTabContent>
            <h1>Art is music</h1>
          </ng-template>
        </ngs-tab-item>
        <ngs-tab-item title="Dance" tabAction="true">
          <ng-template ngsTabContent>
            <h1>Dance with music</h1>
          </ng-template>
        </ngs-tab-item>
      </ngs-tab>
      <br>
      <br>
      <h5>Tab actions</h5>
      <ngs-tab>
        <ngs-tab-item title="Music" active="true">
          <ng-template ngsTabContent>
            <h1>Music is art</h1>
          </ng-template>
        </ngs-tab-item>
        <ngs-tab-item title="Art">
          <ng-template ngsTabContent>
            <h1>Art is music</h1>
          </ng-template>
        </ngs-tab-item>
        <ngs-tab-item title="Dance" tabAction="true">
          <ng-template ngsTabContent>
            <h1>Dance with music</h1>
          </ng-template>
        </ngs-tab-item>
      </ngs-tab>
    </div>
  </div>
</div>