<div class="container">
  <div class="columns">
    <div class="column col-md-6">
      <ngs-avatar initials="NS" size="xl"></ngs-avatar>
      <ngs-avatar initials="NS" size="lg"></ngs-avatar>
      <ngs-avatar initials="NS"></ngs-avatar>
      <ngs-avatar initials="NS" size="sm"></ngs-avatar>
      <ngs-avatar initials="NS" size="xs"></ngs-avatar>
    </div>
    <div class="column col-md-6">
      <ngs-avatar initials="NS" size="xl" color="yellow" status="online">
      </ngs-avatar>
      <ngs-avatar initials="NS" size="lg" bgColor="yellow" color="black" status="busy">
      </ngs-avatar>
      <ngs-avatar initials="NS" squareShape="true"></ngs-avatar>
      <ngs-avatar initials="NS" size="sm" status="bvfusy">
      </ngs-avatar>
      <ngs-avatar initials="NS" size="xs" status="away">
      </ngs-avatar>
    </div>
  </div>
  <div class="columns">
    <div class="column col-md-6">
      <ngs-avatar initials="NS" size="xl" squareShape="true"></ngs-avatar>
      <ngs-avatar initials="NS" size="lg" squareShape="true" status="busy"></ngs-avatar>
      <ngs-avatar initials="NS" squareShape="true"></ngs-avatar>
      <ngs-avatar initials="NS" size="sm" squareShape="true" status="bvfusy"></ngs-avatar>
      <ngs-avatar initials="NS" size="xs" squareShape="true" status="away">
      </ngs-avatar>
    </div>
    <div class="column col-md-6">
      <ngs-avatar src="https://picturepan2.github.io/spectre/img/avatar-1.png" size="xl">
      </ngs-avatar>
      <ngs-avatar src="https://picturepan2.github.io/spectre/img/avatar-1.png" size="lg"></ngs-avatar>
      <ngs-avatar src="https://picturepan2.github.io/spectre/img/avatar-1.png"></ngs-avatar>
      <ngs-avatar src="https://picturepan2.github.io/spectre/img/avatar-1.png" size="sm"></ngs-avatar>
      <ngs-avatar src="https://picturepan2.github.io/spectre/img/avatar-1.png" size="xs"></ngs-avatar>
    </div>
  </div>
  <div class="columns">
    <div class="column col-md-6">
      <ngs-avatar src="https://picturepan2.github.io/spectre/img/avatar-1.png" background="true" size="xl"
                  statusImage="https://picturepan2.github.io/spectre/img/avatar-2.png"></ngs-avatar>
      <ngs-avatar src="https://picturepan2.github.io/spectre/img/avatar-1.png"
                  statusImage="https://picturepan2.github.io/spectre/img/avatar-2.png" size="lg"></ngs-avatar>
      <ngs-avatar src="https://picturepan2.github.io/spectre/img/avatar-1.png"
                  statusImage="https://picturepan2.github.io/spectre/img/avatar-2.png"></ngs-avatar>
      <ngs-avatar src="https://picturepan2.github.io/spectre/img/avatar-1.png" size="sm"
                  statusImage="https://picturepan2.github.io/spectre/img/avatar-2.png"></ngs-avatar>
      <ngs-avatar src="https://picturepan2.github.io/spectre/img/avatar-1.png" size="xs"
                  statusImage="https://picturepan2.github.io/spectre/img/avatar-2.png"></ngs-avatar>
    </div>
    <div class="column col-md-6">
      <ngs-avatar src="https://picturepan2.github.io/spectre/img/avatar-1.png" background="true" size="xl"
                  status="online"></ngs-avatar>
      <ngs-avatar src="https://picturepan2.github.io/spectre/img/avatar-1.png" size="lg" status="online"></ngs-avatar>
      <ngs-avatar src="https://picturepan2.github.io/spectre/img/avatar-1.png" status="busy"></ngs-avatar>
      <ngs-avatar src="https://picturepan2.github.io/spectre/img/avatar-1.png" size="sm" status="away"></ngs-avatar>
      <ngs-avatar src="https://picturepan2.github.io/spectre/img/avatar-1.png" size="xs" status="away"></ngs-avatar>
    </div>
  </div>
</div>
