<div class="container">
  <div class="columns">

    <div class="column col-6">
      <div class="columns">
        <div class="column col-12">
          <ngs-tile compact-tile="true">
            <div ngs-tile-icon>
              <button ngsButton color="primary">
                <ngs-icon name="arrow-down"></ngs-icon>
              </button>
            </div>
            <div ngs-tile-content>
              <div ngs-tile-title>The Avengers</div>
              <div ngs-tile-subtitle>Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</div>
            </div>
            <div ngs-tile-action>
              <button ngsButton color="primary" size="md">
                <i class="icon icon-menu"></i> Menu
              </button>
            </div>
          </ngs-tile>
        </div>
      </div>
      <div class="columns">
        <div class="column col-12">
          <ngs-tile compact-tile="true">
            <div ngs-tile-icon>
              <button ngsButton color="primary">
                <ngs-icon name="arrow-down"></ngs-icon>
              </button>
            </div>
            <div ngs-tile-content>
              <div ngs-tile-title>The Avengers</div>
              <div ngs-tile-subtitle>Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</div>
              <button ngsButton color="primary" size="sm">
                <i class="icon icon-menu"></i> Menu
              </button>
            </div>
          </ngs-tile>
        </div>
      </div>
    </div>

  </div>
</div>