<button class="btn btn-primary" ngsTooltipSpec [position]="'left'" data-tooltip="Testing tool tip Testing">Tooltip - Left</button>
<br><br>
<button class="btn btn-primary" ngsTooltipSpec [position]="'right'" data-tooltip="Testing tool tip Testing">Tooltip - Right</button>
<br><br>
<button class="btn btn-primary" ngsTooltipSpec [position]="'bottom'" data-tooltip="Testing tool tip Testing">Tooltip - Bottom</button>
<br><br>
<button class="btn btn-primary" ngsTooltipSpec [position]="'top'" data-tooltip="Testing tool tip Testing">Tooltip - Top</button>
