<div class="container">
  <div class="columns">
    <div class="column col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus leo, dictum in vehicula sit amet, feugiat tempus
        tellus.</p>
      <ngs-divider content="OR"></ngs-divider>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus leo, dictum in vehicula sit amet, feugiat tempus
        tellus.</p>
      <br>
      <div class="columns">
        <div class="column">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus leo, dictum in vehicula sit amet, feugiat tempus
          tellus.</p>
          <button ngsButton color="primary" size="sm">Button - Small</button>
        </div>
        <ngs-divider content="OR" dPos="vert"></ngs-divider>
        <div class="column">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus leo, dictum in vehicula sit amet, feugiat tempus
          tellus.
          </p>
          <button ngsButton color="primary" size="sm">Button - Small</button>
        </div>
      </div>
    </div>
  </div>
</div>