<ngs-pagination [page]="5" [size]="10" [count]="100"></ngs-pagination>
<ngs-pagination [page]="5" [size]="10" [count]="100" [visiblePages]="5"></ngs-pagination>
<ngs-pagination [page]="5" [size]="3" [count]="31" [visiblePages]="5" [pageEnds]="true"></ngs-pagination>
<ngs-pagination [page]="5" [size]="10" [count]="100" [visiblePages]="5" [pagerIcons]="false"></ngs-pagination>
<ngs-pagination [page]="5" [size]="10" [count]="100" [visiblePages]="5" [pagerIcons]="false" [pagerText]="{prev:'Previous',next: 'Next'}"></ngs-pagination>
