<h4>Toasts</h4>

<div class="columns">
  <div class="column col-4">
    <button ngsButton color="primary" (click)="openToast('bottom', 'right', 'primary')">
      Show Toast 
    </button>
  </div>
  <div class="column col-4">
    <button ngsButton color="primary" (click)="openToast('bottom', 'left', 'error')">
      Show Toast
    </button>
  </div>
  <div class="column col-4">
    <button ngsButton color="primary" (click)="openToast('bottom', 'center')">
      Show Toast
    </button>
  </div>
</div>
<br />
<br />
<br />

<div class="columns">
  <div class="column col-4">
    <button ngsButton color="primary" (click)="openToast('top', 'right', 'primary')">
      Show Toast
    </button>
  </div>
  <div class="column col-4">
    <button ngsButton color="primary" (click)="openToast('top', 'left', 'error')">
      Show Toast
    </button>
  </div>
  <div class="column col-4">
    <button ngsButton color="primary" (click)="openToast('top', 'center', 'warning')">
      Show Toast
    </button>
  </div>
</div>
<br />
<br />
<br />

<div class="columns">
  <div class="column col-4">
    <button ngsButton color="primary" (click)="openToast('center', 'center', 'success')">
      Show Toast
    </button>
  </div>
</div>

<ngs-toast></ngs-toast>
