/* You can add global styles to this file, and also import other style files */
@import "~spectre.css/src/_variables";


@media (max-width: $size-lg){
    .off-canvas .off-canvas-content {
        width: 100%;
        padding: 0;
    }
}

.off-canvas .off-canvas-sidebar{
    height: 100vh;
}

.docs-sidebar .docs-nav {
    bottom: 1.5rem;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    padding: .5rem 1.5rem;
    position: fixed;
    top: 2rem;
    width: 12rem;
}

.docs-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2rem 0;
    width: calc(100vw - 12rem);
    @media (max-width: $size-lg){
        min-width: auto;
        padding: 2rem;
        width: 100%;
    }
}
