<div class="container">
  <div class="columns">
    <div class="column col-3">
      <button class="btn" ngsBadge="8">deafult button</button>
    </div>
    <div class="column col-3">
      <button class="btn" ngsBadge="8" ngsBadgePosition="below before">deafult button</button>
    </div>
    <div class="column col-3">
      <button class="btn" ngsBadge="8" ngsBadgeColor="accent">deafult button</button>
    </div>
    <div class="column col-3">
      <button class="btn" ngsBadge="8" ngsBadgeSize="large">Action</button>
    </div>
    <div class="column col-3">
      <button class="btn" ngsBadge="188" ngsBadgePosition="before">Users</button>
    </div>
    <div class="column col-3">
      <button class="btn" ngsBadge="8" ngsBadgePosition="below after">Accounts</button>
    </div>
    <div class="column col-3">
      <button class="btn" ngsBadge="77778" ngsBadgeSize="small">Passport</button>
    </div>
    <div class="column col-3">
      <button class="btn" ngsBadge="8" ngsBadgeHidden="false" ngsBadgeOverlap="false">Showcase</button>
    </div>
    <div class="column col-3">
      <button class="btn" ngsBadge="8" ngsBadgeHidden>Showcase</button>
    </div>
    <div class="column col-3">
      <button class="btn" ngsBadge="" ngsBadgeHidden>Showcase</button>
    </div>
  </div>
</div>
