<div class="container">
  <div class="columns">
    <div class="column col-6">
      <div class="columns">
        <div class="column col-6">
          <ngs-panel>
            <div ngsPanelHeader>
              <div ngsPanelTitle>Bruce Banner</div>
            </div>
            <div ngsPanelNav>
              
            </div>
            <div ngsPanelBody>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut et aliqua.
            </div>
            <div ngsPanelFooter>
             <button ngsButton color="primary" size="sm" block="true">Save</button>
            </div>
          </ngs-panel>
        </div>
      </div>
    </div>
  </div>
</div> 